.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-title-color: #ffffff;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --secondary-accent-color: #188ce8;
  --adress-text-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--primary-text-color);
}

button {
  font-family: inherit;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-cont__title,
.footer-left__logo-link {
  font-family: var(--secondary-font);
}

.list {
  list-style: none;
}

.hero-section__btn-modal-closed {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  height: 30px;
  width: 30px;
  padding: 0px 0px 0px 0px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-title-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section__btn-modal-closed:hover, .hero-section__btn-modal-closed:focus {
  fill: var(--accent-color);
}

.modal-form__btn-sumbit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  justify-content: center;
  align-self: center;
  padding: 10px 55px 10px 55px;
  background-color: var(--accent-color);
  color: var(--primary-title-color);
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn-sumbit:hover, .modal-form__btn-sumbit:focus {
  background-color: #188ce8;
}

.modal-form__checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  margin-right: 8px;
}

.modal-form__checkbox:checked + .modal-form__checkbox-label::before {
  background-image: url(../images/checkbox-activ.svg);
  background-color: var(--accent-color);
}

.modal-form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-text-color);
}

.modal-form__field:focus-within, .modal-form__field:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-form__span {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form__input {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus-within, .modal-form__input:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
}

.modal-form__message-title {
  align-content: center;
  justify-content: center;
}

.modal-form__message-comments {
  margin-top: 4px;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message-comments:hover, .modal-form__message-comments:focus, .modal-form__message-comments:focus-within {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-form__message-comments::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-link-privacy {
  color: var(--accent-color);
}

.modal-form__privacy {
  align-self: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__privacy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-title-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 320px;
  min-height: 609px;
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 767px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
  }
}

@media screen and (min-width: 1200px) {
  .benefits__list {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .benefits__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__item::before {
  content: "";
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-background-color);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.icon-antenna.benefits__item::before {
  content: "";
  background-image: url(../images/Studio/antenna.svg);
}

.icon-clock.benefits__item::before {
  content: "";
  background-image: url(../images/Studio/clock.svg);
}

.icon-diagram.benefits__item::before {
  content: "";
  background-image: url(../images/Studio/diagram.svg);
}

.icon-astronaut.benefits__item::before {
  content: "";
  background-image: url(../images/Studio/astronaut.svg);
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__item:hover, .clients__item:focus {
  border: 1px solid var(--accent-color);
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-doing {
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .section-doing {
    display: none;
  }
}

.doing__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.doing__list {
  display: flex;
}

.doing__item:not(:last-child) {
  margin-right: 30px;
  width: 370px;
}

.doing-card {
  position: relative;
}

.doing-card__position-text {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doing-card__text {
  position: absolute;
  overflow: hidden;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left__logo-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer-left__logo-color {
  color: var(--accent-color);
}

.footer-adress__text {
  color: var(--primary-title-color);
  margin-bottom: 9px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-adress {
  font-style: normal;
}

.footer-adress__contact-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--adress-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress__contact-link:hover, .footer-adress__contact-link:focus {
  color: var(--primary-title-color);
}

.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 70px;
  width: 231px;
}

.footer-right {
  margin-right: 93px;
}

.footer-right__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-right__list {
  display: flex;
  justify-content: center;
}

.footer-right__item {
  width: 44px;
  height: 44px;
}

.footer-right__item:not(:last-child) {
  margin-right: 10px;
}

.footer-right__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-right__link:hover, .footer-right__link:focus {
  background-color: var(--accent-color);
}

.footer-right__icon {
  fill: var(--primary-title-color);
}

.form_subscribe {
  display: flex;
}

.footer-form__text {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.form_subscribe__input {
  display: block;
  width: 358px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding: 15px 15px 15px 15px;
  color: var(--primary-title-color);
}

.form_subscribe__btn {
  color: var(--primary-title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  height: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  display: inline-flex;
  padding: 10px 28px 10px 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_subscribe__btn:hover, .form_subscribe__btn:focus {
  background-color: #188ce8;
}

.form_subscribe__icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-card {
  position: relative;
  overflow: hidden;
}

.gallery-card__absolute {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list__link:hover .gallery-card__absolute,
.gallery-list__link:focus .gallery-card__absolute {
  transform: translateY(-100%);
}

.gallery-card__absolute-text {
  position: absolute;
  top: 63px;
  left: 24px;
  right: 24px;
  bottom: 63px;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.portfolio-gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.gallery-list__item {
  margin-right: 30px;
  flex-basis: calc((100% - 3 * 30px) / 30px);
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list__item:hover, .gallery-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-meta__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.card-meta__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.card-meta {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-cont {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header-cont__title,
.header-cont__logo--text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .header-cont__title,
  .header-cont__logo--text {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.header-cont__title {
  color: var(--accent-color);
}

.header-cont__logo--text {
  color: var(--logo-text-color);
}

@media screen and (min-width: 767px) {
  .header-cont__logo--image {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-cont__logo--image {
    margin-right: 93px;
  }
}

.btn-mobile-menu__open {
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .btn-mobile-menu__open {
    display: none;
  }
}

.btn-mobile-menu__icon-open {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #ffffff;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-menu__contact {
  display: flex;
  flex-direction: column;
}

.mobile-menu__contact-list {
  flex-direction: column;
  margin-bottom: 64px;
}

.mobile-menu__contact-item-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mobile-menu__contact-link-tel {
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu__contact-link-tel {
    font-size: 8vw;
  }
}

.mobile-menu__contact-link-mail {
  color: var(--secondary-text-color);
}

.mobile-menu__contact-item-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__social {
  display: flex;
}

.mobile-menu__social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
}

.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-item:not(:first-child) {
  padding-left: 10px;
}

@media screen and (max-width: 479px) {
  .mobile-menu__social-item {
    font-size: 4vw;
  }
}

.mobile-menu__social-link {
  color: var(--accent-color);
}

.mobile-menu__social-link:hover, .mobile-menu__social-link:focus {
  color: var(--secondary-accent-color);
}

.btn-mobile-menu__closed {
  position: absolute;
  border: 0px;
  padding: 0;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  line-height: 0px;
  background-color: transparent;
}

.header-nav__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-nav__list {
    flex-direction: column;
  }
}

.header-nav__item {
  position: relative;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-nav__item:last-child {
    margin-right: 83px;
  }
}

.header-contact__container {
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contact__container {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__container {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .header-contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-contact__link:hover, .header-contact__link:focus {
  color: var(--accent-color);
}

.header-nav__link {
  display: block;
  color: var(--primary-text-color);
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-color);
}

.header-contact__link {
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover .header-contact__icon,
.header-contact__link:focus .header-contact__icon {
  fill: var(--accent-color);
}

.header-nav__link.current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-nav__link.current::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -1px;
  }
}

.header-contact__icon {
  fill: var(--secondary-text-color);
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header-contact__icon {
    margin-right: 10px;
  }
}

.hero-section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-btn__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.folter-btn__item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border: 0px;
  min-width: 73px;
  height: 38px;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-section__container {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  max-width: 480px;
  background-image: url("../images/Studio/hero/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../images/Studio/hero/hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url("../images/Studio/hero/hero-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../images/Studio/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Studio/hero/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../images/Studio/hero/hero-desktop@2x.jpg");
  }
}

.hero-section__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  color: var(--primary-title-color);
}

@media screen and (min-width: 480px), (min-width: 768px) {
  .hero-section__text {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
  }
}

.hero-section__btn-modal {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
}

@media screen and (min-width: 1200px) {
  .hero-section__btn-modal {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    letter-spacing: 0.06em;
  }
}

.hero-section__btn-modal:hover, .hero-section__btn-modal:focus {
  background-color: #188ce8;
}

.section-team {
  background-color: var(--secondary-background-color);
}

@media screen and (max-width: 768px) {
  .section-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

@media sreen and (min-width: 480px) and (max-width: 1200px) {
  .team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.team__item {
  background-color: var(--primary-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-container__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team-container__description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.team-container__list {
  display: flex;
  justify-content: center;
}

.team-container__item {
  width: 44px;
  height: 44px;
}

.team-container__item:not(:last-child) {
  margin-right: 10px;
}

.team-container__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.team-container__link:hover, .team-container__link:focus {
  background-color: var(--accent-color);
}

.team-container__link:hover .team-container__icon,
.team-container__link:focus .team-container__icon {
  fill: var(--primary-title-color);
}

.team-container__link,
.team-container__icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-container__icon {
  fill: #afb1b8;
}
/*# sourceMappingURL=main.css.map */