:root {
  // ---------------------COLOR---------------------------------------
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-title-color: #ffffff;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --secondary-accent-color: #188ce8;
  --adress-text-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #f5f4fa;
  // -------------------------FONTS-----------------------------------
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
